extends ./layout.jade

block title
	title Internal Server Error - ssf

prepend header
	h1 Internal Server Error

block content
	p Something went wrong - we were unable to complete your request. Please try again later. <a href="/">Return Home</a>.
