extends ./layout.jade

block title
	title Author Thread

prepend header
	h1 Author Thread

block content
	div(id = "form-container")
		p
			| Compose your thread below.
			| If a password is given, a registered nickname will be used or created.
			| Simple BBCode is enabled.
		include ./post_form.inc.jade
