doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/style.css")
		block title
	body
	div#wrapper
		div#header
			block header
				div#navigation
					a(class="button" href="/author-thread") Author Thread
					a(class="button" href="/") Home/Feed
		div#content
			block content
		div#footer
			p sigkill's Simple Forum v1.0
