extends ./layout.jade

block title
	title View Post Feed - ssf

prepend header
	h1 View Post Feed

block content
	table(id="thread-feed" class="zebra")
		tr
			th(class="title") Post Title
			th Last Post
			th #

		each thread in threads
			tr
				td(class = "title")
					a(href = "view-thread/" + thread._id.toString() + "/" + thread.friendly_name)= thread.title
				td(class = "date")
					a(href = "view-thread/" + thread._id.toString() + "/" + thread.friendly_name)
						| #{thread.last_reply_time.toShortString() + " by " + thread.last_reply_nickname}
				td= thread.reply_count
